<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs" style="font-size:20px;">
                                <i class="fa fa-area-chart"></i>
                                <strong class="font-bold">hAdmin</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">hAdmin
                </div>
            </li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a class="J_menuItem" href="index_v1.html">
                    <i class="fa fa-home"></i>
                    主页
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa fa-bar-chart-o"></i>
                    统计图表
                </a>
            </li>
            <li class="line dk"></li>

            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a href="/admin/category">
                    <i class="fa fa-home"></i>
                    分类功能
                </a>
            </li>
            <li>
                <a href="/admin/goods">
                    <i class="fa fa fa-opencart"></i>
                    商品列表
                </a>
            </li>
            <li>
                <a href="/admin/app">
                    <i class="fa fa-file"></i>
                    小程序
                </a>
            </li>
            <li>
                <a href="/admin/province">
                    <i class="fa fa-file"></i>
                    省份信息
                </a>
            </li>
            <li>
                <a href="/admin/background">
                    <i class="fa fa-file"></i>
                    歌手数据
                </a>
            </li>
            <li>
                <a href="/admin/api">
                    <i class="fa fa-file"></i>
                    歌手数据
                </a>
            </li>
            <li>
                <a href="/admin/room">
                    <i class="fa fa-pencil-square-o"></i>
                    个人日志
                </a>
            </li>
            <li class="line dk"></li>



        </ul>
    </div>
</nav>