<%- include("header.html") %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>数据列表</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <!-- <div class="col-sm-6"> -->
        <div class="ibox float-e-margins">
                <div class="form-group">
                        <form class="form-horizontal m-t" action="province/find" method="POST">
                            <label class="col-sm-3 control-label">搜索：</label>
                            <div class="col-sm-6">
        
                                <input  name="findname"  type="text" class="form-control">
        
                            </div>
                            <button class="btn btn-primary" type="submit">搜索</button>
                        </form>
                        
                    </div>

            <div class="ibox-content">

                <table class="table">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>courseId</th>
                            <th>地区</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% result.forEach(function(item){%>
                        <tr>
                            <td><%=item._id%></td>
                            <td><%=item.courseId%></td>
                            <td><%=item.name%></td>
                            <td>
                                <a href="/admin/province/prodels?id=<%=item._id%>" type="button"
                                    class="btn btn-danger">删除</a>
                            </td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>

                 <!-- 分页功能 -->
                 <div class="btn-group">
                    <% for(var i = 0; i < pageCount; i++){%>
                        <a href="/admin/province?page=<%=i%>" class="btn btn-white"><%=i+1%></a>
                    <%}%>
                </div>
                <!-- 分页功能 end-->

            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
<%- include("footer.html") %>